<div class="container mt-4">

  <div class="row">
    <table class="table table-bordered col-md-6">
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価</td>
          <td>数量</td>
          <td>小計</td>
        </tr>
      </thead>
      <tbody>
        <% @cart_products.each do |cart| %>
          <tr>
            <td><%= cart.product.name %></td> <!-- 商品名 -->
            <td><%= (cart.product.price).to_s(:delimited) %></td>　<!-- 金額 -->
            <td><%= cart.quantity %></td> <!-- 個数 -->
            <td><%= (cart.product.price*cart.quantity).to_s(:delimited) %></td> <!-- 小計 -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered col-md-2 offset-1">
      <tbody>
        <tr>
          <td><p>ご請求金額</p></td>
          <td><%= @total.to_s(:delimited) %></td> <!-- お買い物の合計金額 -->
        </tr>
      </tbody>
    </table>
  </div>


      <p>お届け先</p>
      <%= @order.address %>

      <!-- ユーザーには注文確定ボタンだけ表示します -->
      <%= form_with model: @order, url: { action: :create }, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :total_price, value: @total %>
        <%= f.submit "注文を確定する" %>
      <% end %>

</div>