<h2>注文情報入力</h2>

<%#<%= form_with model: @order, local:true do |f| %>
<%= form_with model: @order, url: { action: :confirm }, local: true do |f| %>

  <h3>支払方法</h3>
  <%= f.label :payment_way, :クレジットカード %>
  <%= f.radio_button :payment_way, 'credit_card' %>
  <%= f.label :payment_way, :銀行振込 %>
  <%= f.radio_button :payment_way, 'transfer' %>
  <h3>お届け先</h3>


  <%= f.radio_button :address_number, 1 %>

  <%= f.label :address_number_1, "ご自身の住所" %>
   <p>〒<%= current_customer.postal_code %> <%= current_customer.address %></p>
   <p><%= current_customer.last_name %><%= current_customer.first_name %></p>

  <%= f.radio_button :address_number, 2 %>
  <%= f.label :address_number_2, "登録先の住所" %>
  <%= f.select :address_id, options_from_collection_for_select(current_customer.shipping_addresses.all, :id, :full_address) %></br>
  <%#<%= f.collection_select (:registered), current_customer.shipping_addresses.all, :id, :full_address %>
  <%= f.radio_button :address_number, 3 %>

  <%= f.label :address_number_3, "新しいお届け先" %><br>

    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code %><br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %><br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %><br>

  <%= f.hidden_field :cost, :value => 800 %>

 <% if :address_number == 1 %>
   <%= f.hidden_field :address, :value => current_customer.address %>
   <%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
   <%= f.hidden_field :name, :value => current_customer.fullname %>
 <% elsif :address_number == 2 %>

 <% elsif :address_number == 3 %>
 <% end %>


  <%= f.submit "確認画面へ進む" %>

<% end %>