<div class="container">
  <div class="row">
    <h4 class="theme"><%= @customer.fullname %> さんの会員詳細</h4>
    <table class="table">
      <tbody>
        <tr>
          <td>会員ID <%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名 <%= @customer.fullname %></td>
        </tr>
        <tr>
          <td>フリガナ <%= @customer.fullname_kana %></td>
        </tr>
        <tr>
          <td>郵便番号 <%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所 <%= @customer.address %></td>
        </tr>
        <tr>
          <td>メールアドレス <%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス <%= @customer.is_deleted ? "退会" : "有効" %></td>
        </tr>
      </tbody>
    </table>
    
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-sm btn-success"  %>
    <%= link_to "注文履歴一覧を見る", admin_admin_path, class:"btn btn-sm btn-primary" %>
  </div>
</div>