<h2>注文履歴詳細</h2>

<table>
  <tr><th>購入者</th>
      <td><%= link_to admin_customer_path(@order.customer_id) do %>
          <%= @order.full_name %> <% end %></td></tr>
  <tr><th>注文日</th><td><%= @order.created_at.strftime("%Y/%m/%d") %></td></tr>
  <tr><th>配送先</th><td><%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td></tr>
  <tr><th>支払方法</th><td><%= @order.payment_way %></td></tr>
  <tr><th>注文ステータス</th>
      <td><%= form_with model: [:admin,@order],local:true do |f| %>
          <%= f.select :status,[ ["入金待ち","0"], ["入金確認","1"], ["製作中","2"], ["発送準備中","3"], ["発送済み","4"] ] %>
          <%= f.submit '更新' %>
          <% end %></td></tr>
</table>

<table>
  <thead>
    <th>
      <tr>商品名</tr>
      <tr>単価（税込）</tr>
      <tr>数量</tr>
      <tr>小計</tr>
      <tr>制作ステータス</tr>
    </th>
  </thead>
  <tbody>
    <th>
      <% @order_details.each do |order_d| %>
      <tr>
        <td><%= order_d.product.name %></td>
        <td><%= order_d.price %></td>
        <td><%= order_d.quantity %></td>
        <td><%= order_d.price * order_d.quantity %></td>
        <td><%= form_with model: [:admin,order_d], local:true do |f| %>
            <%= f.select :create_status,[ ["製作不可","0"], ["製作待ち","1"], ["製作中","2"], ["製作完了","3"] ] %>
            <%= f.submit '更新' %><%= order_d.create_status %><% end %></td>
      </tr>
      <% end %>
    </th>
  </tbody>
</table>

<table>
  <tr><th>商品合計</th><td><%= @order_total %>円</td></tr>
  <tr><th>送料</th><td><%= @order.cost %>円</td></tr>
  <tr><th>請求金額合計</th><td><%= @order_total.to_i + @order.cost %>円</td></tr>
</table>