<div class="container mt-3 mb-3">

  <div class="row offset-1 mb-5">
    <h2>配送先編集</h2>
  </div>

  <div>
    <%= form_with model: @shipping_address, local:true do |f| %>
      <%= render "customer/shared/error_messages", resource: @shipping_address %>
      <div class="mb-2">
        <%= f.label :郵便番号（ハイフンなし）, class:"control-label col-3" %>
        <%= f.text_field :postal_code, autofocus: true %>
      </div>
      <div class="mb-2">
        <%= f.label :住所, class:"control-label col-3" %>
        <%= f.text_field :address, autofocus: true, class:"col-5" %>
      </div>
      <div>
        <%= f.label :宛名, class:"control-label col-3" %>
        <%= f.text_field :name, autofocus: true %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.submit "変更内容を保存", class:"btn btn-sm btn-success offset-3" %>
      </div>
    <% end %>
  </div>

</div>