<div class="container mt-3 mb-3">

  <div class="row offset-1 mb-5">
    <h2>配送先登録/一覧</h2>
  </div>

  <div>
    <%= render 'customer/shipping_addresses/form', shipping_address: @shipping_address %>
  </div>

  <div class="row mt-5">
    <table class="col-10 table table-bordered">
      <thead style="background-color: #EEEEEE;">
        <tr>
          <td>郵便番号</td>
          <td>住所</td>
          <td>宛名</td>
          <td></td>
        </tr>
      </thead>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td style="text-align: center;">
          <%= link_to "編集する", edit_shipping_address_path(address),class:"btn btn-sm btn-success" %>
          <span>　</span>
          <%= link_to "削除する", shipping_address_path(address), method: :delete, class:"btn btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>