<div>
  <h2>配送先登録/一覧</h2>
    <%= render 'customer/shipping_addresses/form', shipping_address: @shipping_address %>
</div>

<div>
  <table>
    <tr>
      <td>郵便番号</td>
      <td>住所</td>
      <td>宛名</td>
      <td></td>
    </tr>
    <% @shipping_addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= link_to "編集する", edit_shipping_address_path(address) %>
          <%= link_to "削除する", shipping_address_path(address), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>